# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-functions
python-dotenv
azure-data-tables
httpx
requests
beautifulsoup4
sqlalchemy
twilio
psycopg2-binary
tqdm>=4.66.0
stripe
cryptography
azure-storage-blob
