# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - smartconect4uDev

on:
  push:
    branches:
      - Feature/development
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          lfs: false

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          cache: "npm"
          cache-dependency-path: AIReceptionNewUI/package-lock.json


      # Borrowed from Static Web Apps workflow (these were used at build-time)
      - name: Build UI (Vite)
        working-directory: AIReceptionNewUI
        env:
          VITE_API_PROXY_BASE: https://aireceptionist-func.azurewebsites.net/api
          VITE_FUNCTION_HOST: https://aireceptionist-func.azurewebsites.net
        run: |
          npm ci
          npm run build

      # Upload ONLY the static output as the deploy package
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: webapp-package
          path: AIReceptionNewUI/dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_DA30D42855CC40E7AAD138BDF5DAE03D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_62648CB98E964D838DCB5384C88DF10B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_FD76B4D43EE44F29B640D6EFD2C903A8 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'smartconect4uDev'
          slot-name: 'Production'
          package: .

          
