# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - smartconect4uDev

on:
  push:
    branches:
      - Feature/development
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          cache: "npm"
          cache-dependency-path: AIReceptionNewUI/package-lock.json

      - name: npm install, build, and test
        working-directory: AIReceptionNewUI
        env:
          VITE_API_PROXY_BASE: https://smartconnect4u-func.azurewebsites.net/api
          VITE_FUNCTION_HOST: https://smartconnect4u-func.azurewebsites.net
        run: |
          npm ci
          npm run build --if-present
          npm run test --if-present

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: AIReceptionNewUI

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: AIReceptionNewUI

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_4903EE8DB3B548059193650870C97A89 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_85997D51E0EF418B882C1C19721D56CD }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_47DE4CBBC9D248DDAC4E2F3F13253A63 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: "smartconect4uDev"
          slot-name: "Production"
          package: AIReceptionNewUI


