name: Build and deploy Node.js app to Azure Web App - smartconect4uDev

on:
  push:
    branches:
      - Feature/development
  workflow_dispatch:

env:
  APP_PATH: AIReceptionNewUI

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: ${{ env.APP_PATH }}/package-lock.json

      - name: Install, build, test
        working-directory: ${{ env.APP_PATH }}
        run: |
          npm ci
          npm run build
          npm run test --if-present

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: ${{ env.APP_PATH }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_1335662C6E5C4686BC98EA9090991939 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_F014F998B4874D71BEEC94CC6687C906 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E59035935379438992E7CC691300302D }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: smartconect4uDev
          slot-name: Production
          package: .
